html{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Rubik", sans-serif;
}

.taskItem {
    list-style-type: none;
    letter-spacing: 0px;
    margin-bottom: .8rem;
}

.taskItem:first-child {
    margin-top: 2.4rem;
}

.taskItem:last-child {
    margin-bottom: 0;
}

.component-container {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 54rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    border-radius: 1.6rem;
    gap: 1rem;
    border: 1px solid #B1BACB50;
}

.text-container {
    margin-left: 3.2rem;
}

.component-title {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2.6rem 0 0 0;
}

.tag_date-container {
    color: #B1BACB;
    display: flex;
    margin: 0;
}

#tag {
    border: 1.3px solid;
    border-radius: 1.6rem;
    padding: .3rem .65rem;
    font-size: 1.2rem;
    margin: 1.2rem 0 2.6rem 0;
    letter-spacing: 0.7px;
}

#date {
    font-size: 1.4rem;
    margin: 1.4rem 1rem;
    letter-spacing: 0.1px;
}

.hidden-button {
    display: none;
    pointer-events: none;
}

.checked-mark {
    height: 3.2rem;
    width: 15.3rem;
    text-align: end;
}

img {
    margin-right: 3.2rem;
}

.hidden-mark {
    display: none;
}

body {
    width: 100%;
    height: fit-content;;
    background: #f1f5fe;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

button {
    background-color: #2D70FD;
    color: #FFFFFF;
    border: none;
    border-radius: .4rem;
    width: 4.4rem;
    height: 4.4rem;
    font-size: 1.8rem;
    cursor: pointer;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

.conclude-btn {
    margin-right: 3.2rem;
    width: 12.1rem;
    height: 4.4rem;
    letter-spacing: 0.3px;
}

h1 {
    font-size: 4rem;
    padding: .75rem 0  .75rem 4rem;
    color: #11175E;
    margin-left: 0;
    padding: 0 0 0 3.7rem;
}

main {
    width: 100%;
    max-width: 62.1rem;
    background-color: #FFFFFF;
    border-radius: 1.6rem;
    border: 2px solid #B1BACB50;
}

.taskList {
    margin: 0;
}

#create-task-section {
    width: 100%;
    max-width: 54rem;
    display: flex;
    margin-left: 4rem;
}

#create-task-form {
    align-items: center;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1.6rem;
}

input {
    width: 23.8rem;
    height: 5rem;
    border-radius: .8rem;
    border: 1px solid #B1BACB50;
    font-size: 1.6rem;
    padding: 0 0 0 2.3rem;
    transition: all 0.3s ease-in-out;
}

input::placeholder {
    color: #B1BACB;
}

input:focus {
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#task-footer {
    display: flex;
    justify-content: end;
    padding: 2.4rem 3.2rem;
    font-size: 1.6rem;
    color: #B1BACB;
}

.task-done {
    color: #B1BACB;
    text-decoration: line-through;
}

@media (max-width: 360px) {

    h1 {
        font-size: 3.7rem;
        margin-left: -1.5rem;
    }

    .taskList {
        margin-left: -1.5rem;
    }   

    .component-container {
        width: 92%;
    }

    body {
        width: 95%;
        height: fit-content;
        margin: 0 1rem;
        padding: 2rem 0;
    }
    
    #create-task-form {
        align-items:first baseline;
        flex-direction: column;
        margin-left: -1.5rem;
    }

    input {
        width: 78%;
    }

    button {
        width: 85%;
        height: 5.4rem;
    }

    .component-container {
        max-width: 33.5rem;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        font-family: "Inter", sans-serif;
        gap: 1.6rem;
        border: 1px solid #B1BACB50;
    }

    .text-container {
        margin-left: 0;
        width: 22.3rem;
    }

    .tag_date-container {
        display: grid;
        margin: 0;
    }

    #tag {
        width: fit-content;
        padding: .3rem .65rem;
        margin: 1.9rem 0 0 0;
    }
    
    #date {
        margin: 1.1rem 0 0 0;
    }

    .component-title {
        margin: 2.3rem 0 0 0;
    }
    
    .conclude-btn {
        margin-right: 0;
        margin-bottom: 2.3rem;
    }

    .checked-mark {
        width: 12.1rem;
        text-align: center;
        margin-bottom: 2.3rem;
    }

    img {
        margin-right: 0;
    }
}

@media (min-width: 361px) and (max-width: 412px) {

    h1 {
        font-size: 4rem;
        margin-left: -1.5rem;
    }
    
    body {
        width: 95%;
        height: fit-content;
        margin: 0 1rem;
        padding: 2rem 0;
    }
    
    #create-task-form {
        margin-left: -1.5rem;
        align-items:first baseline;
        flex-direction: column;
    }

    input {
        width: 31.1rem;
    }

    button {
        width: 33.55rem;
        height: 5.4rem;
    }

    .component-container {
        max-width: 33.5rem;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        font-family: "Inter", sans-serif;
        gap: 1.6rem;
        border: 1px solid #B1BACB50;
    }

    .text-container {
        margin-left: 0;
        width: 22.3rem;
    }

    .tag_date-container {
        display: grid;
        margin: 0;
    }

    #tag {
        width: fit-content;
        padding: .3rem .65rem;
        margin: 1.9rem 0 0 0;
    }
    
    #date {
        margin: 1.1rem 0 0 0;
    }

    .component-title {
        margin: 2.3rem 0 0 0;
    }
    
    .conclude-btn {
        margin-right: 0;
        margin-bottom: 2.3rem;
    }

    .checked-mark {
        width: 12.1rem;
        text-align: center;
        margin-bottom: 2.3rem;
    }

    img {
        margin-right: 0;
    }

    .taskList {
        margin-left: -1.5rem;
    }
}

@media (min-width: 413px) and (max-width: 430px) {
    
    body {
        width: 95%;
        height: fit-content;
        margin: 0 1rem;
        padding: 2rem 0;
    }
    
    #create-task-form {
        margin-left: -.5rem;
        align-items:first baseline;
        flex-direction: column;
    }

    input {
        width: 31.1rem;
    }

    button {
        width: 33.55rem;
        height: 5.4rem;
    }

    .component-container {
        max-width: 33.5rem;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        font-family: "Inter", sans-serif;
        gap: 1.6rem;
        border: 1px solid #B1BACB50;
    }

    .text-container {
        margin-left: 0;
        width: 22.3rem;
    }

    .tag_date-container {
        display: grid;
        margin: 0;
    }

    #tag {
        width: fit-content;
        padding: .3rem .65rem;
        margin: 1.9rem 0 0 0;
    }
    
    #date {
        margin: 1.1rem 0 0 0;
    }

    .component-title {
        margin: 2.3rem 0 0 0;
    }
    
    .conclude-btn {
        margin-right: 0;
        margin-bottom: 2.3rem;
    }

    .checked-mark {
        width: 12.1rem;
        text-align: center;
        margin-bottom: 2.3rem;
    }

    img {
        margin-right: 0;
    }

    .taskList {
        margin-left: -.5rem;
    }
}