.taskItem {
    list-style-type: none;
    letter-spacing: 0px;
    margin-bottom: .8rem;
}

.taskItem:first-child {
    margin-top: 2.4rem;
}

.taskItem:last-child {
    margin-bottom: 0;
}

.component-container {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 54rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    border-radius: 1.6rem;
    gap: 1rem;
    border: 1px solid #B1BACB50;
}

.text-container {
    margin-left: 3.2rem;
}

.component-title {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2.6rem 0 0 0;
}

.tag_date-container {
    color: #B1BACB;
    display: flex;
    margin: 0;
}

#tag {
    border: 1.3px solid;
    border-radius: 1.6rem;
    padding: .3rem .65rem;
    font-size: 1.2rem;
    margin: 1.2rem 0 2.6rem 0;
    letter-spacing: 0.7px;
}

#date {
    font-size: 1.4rem;
    margin: 1.4rem 1rem;
    letter-spacing: 0.1px;
}

.hidden-button {
    display: none;
    pointer-events: none;
}

.checked-mark {
    height: 3.2rem;
    width: 9.5rem;
    text-align: center;
}

.hidden-mark {
    display: none;
}